<launch>

  <arg name="usb_port_left_wheel"     default="/dev/ttyUSB0"/>
  <arg name="usb_port_right_wheel"    default="/dev/ttyUSB1"/>
  <param name="trinamic_info"         value="$(find tuw_trinamic_iwos_revolute_controller)/cfg/annoy.yaml"/>

  <node name="tuw_dynamixel_iwos_revolute_controller" pkg="tuw_trinamic_iwos_revolute_controller" type="revolute_controller_node"
        required="true" output="screen" args="$(arg usb_port_left_wheel) $(arg usb_port_right_wheel)">
  </node>

</launch>