<launch>

  <arg name="usb_port_left_wheel"                default="/dev/ttyACM0"/>
  <arg name="usb_port_right_wheel"               default="/dev/ttyACM1"/>
  <param name="trinamic_info"          value="$(find tuw_trinamic_controller)/cfg/annoy.yaml"/>

  <node name="velocity_controller_node" pkg="tuw_trinamic_controller" type="velocity_controller_node"
        required="true" output="screen" args="$(arg usb_port_left_wheel) $(arg usb_port_right_wheel)">
  </node>

</launch>